:root {
    --voc-container-min-height: 70vh;
    --voc-container-border: 1px solid #e1e1e1;
    --voc-container-bg-color: white;
    --voc-container-border-radius: 5px;
}

.vue3-org-chart {
    .vue3-org-chart-container {
        min-height: var(--voc-container-min-height);
        border-radius: var(--voc-container-border-radius);
        border: var(--voc-container-border);
        background-color: var(--voc-container-bg-color);
        overflow: hidden;
    }

    .vue3-org-chart-scene {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .vue3-org-chart-node {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vue3-org-chart-node-element {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        display: inline-block;
        width: min-content;
    }

    .vue3-org-chart-node-element-top-line {
        margin-top: -0.5rem;
        position: absolute;
        left: 50%;
        height: 0.5rem;
        border-left: 1px solid #e1e1e1;
    }

    .vue3-org-chart-node-element-bottom-line {
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        height: 0.5rem;
        width: 1px;
        border-left: 1px solid #e1e1e1;
    }

    .vue3-org-chart-node-element-horizontal-line {
        position: relative;
        display: flex;
        width: 100%;

        &.left::before {
            content: "";
            display: block;
            width: 50%;
            border-top: 1px solid #e1e1e1;
            position: absolute;
            left: 0;
        }

        &.right::after {
            content: "";
            display: block;
            width: 50%;
            border-top: 1px solid #e1e1e1;
            position: absolute;
            right: 0;
        }
    }

    .vue3-org-chart-node-container {
        display: flex;
    }

    .nodeTransition-leave-active {
        transition: all 0.2s ease;
    }
    
    .nodeTransition-leave-to {
        opacity: 0;
        scale: 0.20;
    }

    .nodeTransition-enter-active {
        transition: all 0.3s ease;
    }

    .nodeTransition-enter-from {
        scale: 0.70;
    }
}